/*
Theme Name: jupiter-child
Theme URI: http://themeforest.net/user/artbees
Author: Artbees
Author URI: http://themeforest.net/user/artbees
Version: 5.2
Template: jupiter
Description: A Beautiful, Professional and Ultimate Wordpress Theme Made by Artbees. Jupiter is a Clean, Flexible, fully responsive and retina ready Wordpress theme. Its smart and hand crafted environment allows you to Build outstanding websites easy and fast.
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url("../jupiter/style.css");
body {
    font-family: "Exo";
}
/*Custom Theme CSS BY:misraX*/
/*Woocommerce Fix*/
/*.mk-main-wrapper-holder {
    width: 100%;
    height: 100%;
    display: block !important;
}*/
/*Woocommerce End*/
body a{
	transition: ease .5s color;
}
.az-product-range,.cat-az ,.az-cat-filter,.az-brands{
	padding-top: 28px;
}
.az-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 100%;
    /* background-color: red; */
}
.az-cat-filetr, .az-brands-logo{
	padding-bottom: 28px;
}
a.cat-href, .product-range-title{
font-weight: 400 !important;
}
a.cat-href{
	color: #959595;
	text-rendering: optimizeLegibility;
}
a.cat-href:hover, .az-fancy-title{
	color: #0985c5 !important;
}
.product-range-title,.az-fancy-title{
	font-size: 120% !important;
	font-weight: 600 !important;
}
.az-fancy-title p:after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #959595;
    margin: 0 auto;
}
li.cat-list a:hover {
    border-bottom: 3px #0985c5;
    border-style: double;
}
.az-cat-container .wpb_content_element{
    margin-bottom: 0;
}
.az-cat-container .az-wrapper:not(:first-child) {
    margin-bottom: 28px;
    margin-top: 28px;
}
/*ABout Us*/
.about-us-2 {
    padding: 12.5%;
}
.col-1-about-us {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15.5%;
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 5.5%;
}
.col-1-about-us .mk-grid {
    padding-top: 10%;
}
.col-1-p p {
    font-size: 200%;
    color: #fff;
    font-weight: normal;
    text-rendering: geometricPrecision;
}
.col-2-fancy ,span.beautiful {
    font-weight: 600 !important;
}
.az-goals, .col-2-about-us {
    padding: 7.5%;
}
.col-2-fancy {
    color: #0082cd !important;
    font-size: 150% !important;
    margin: 0 !important;
}
.col-2-p, .col-2-fancy{
text-transform: uppercase !important;
}
.col-2-p{
    text-align: left !important;
}
.col-2-p, .col-2-fancy
 {   margin-bottom: 0px;
    display: block !important;
    margin: 0 auto !important;
    width: 65% !important;
}
.our-mission-btn a, .our-vision-btn a {
    border: 2px solid #000 !important;
    border-radius: 14px;
    padding: 20px !important;
    text-transform: uppercase;
    font-size: 20px;
}
.our-vision-p p,.our-mission-p p {
    text-align: center;
    color: #0084c7;
}
.our-mission-btn a, .our-vision-btn a , .our-vision-p, .our-mission-p{
    display: block;
    margin: 0 auto;
    width: 60%;
}
h1.about-us-fancy {
    font-size: 200% !important;
    margin-bottom: 0;
}
/*Product cat page*/
ul.product-titles-list {
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
}
ul.product-titles-list li {
    margin: 0;
}
/*Custom titel*/
section#mk-page-introduce {
    background-color: #4e4e4e;
}
h1.page-title {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
/*Fixing the arrow to activate the select*/
.intro-left:after {
    content: url(http://127.0.0.1/AZHomeAfter/wp-content/uploads/2016/10/arrow.png);
    position: absolute;
    left: 0;
    display: block;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 15%;
    padding-left: 15%;
}
/*Woocemerce header align*/
.mk-shop-header {
    margin: 0 0 10px;
}
/*Woocomerce Description*/
.description{
    float: left;
    margin-top: 35px;
}
.description p {
    color: #4e4e4e;
}
.mk-product-details h1.title, .sku_wrapper.col-sku-4 {
    color: #0084c7;
}
.mk-product.style-default .title{
        margin-bottom: 0;
}
.mk-woocommerce-main-image img{
 border: 2px solid #4e4e4e !important;
}
/*Code after title*/
.col-sku-8 {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    padding: 0 10px 10px 0;
}
.col-sku-4 {
    position: relative;
    display: block;
    float: left;
    width: 40%;
    margin: 0;
    padding: 0 10px 10px 0;
}
.sku_wrapper.col-sku-4{
font-size: 22px
}
span.sku_wrapper.col-sku-4:before {
    position: absolute;
    width: 3px;
    height: 26px;
    top: -2px;
    left: -10px;
    display: block;
    background-color: #e62c31;
    content: " ";
}